{% extends 'Management/base.html' %}
{% load static%} 
{% load bootstrap4 %} 

{% block content %} 
<!-- LIST OF ITEMS HTML PAGE -->

<link rel="stylesheet" href="{% static 'css/Management.css' %}">
<div class="ListHeader">{{ListHeader}}</div> 


<form method='POST' action=''>{% csrf_token %}
    {{form}}
        <input type="submit" value='Search'/>
</form>
<br>

<table class='table'>
    <thead>
      <tr>
        <th>COUNT</th>
        <th>CATEGORY</th>
        <th>ITEM NAME</th>
        <th>QUANTITY IN STORE</th>
      </tr>
    </thead>
    <!-- Loop To Get Itemname and Quantity In Database -->
  {% for instance in queryset %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{instance.category}}</td>
        <td>{{instance.item_name}}</td>
        <td>{{instance.quantity}}</td>
      </tr>
  {% endfor %}
</table>


<!-- COLLAPSE LIST OF ITEMS HTML PAGE -->
{%endblock%}