{% extends 'Management/base.html' %}
{% load static%} 
{% load bootstrap4 %} 

{% block content %} 
<!-- LIST OF ITEMS HTML PAGE -->

<link href="{% static 'css/Management.css' %}" rel="stylesheet">

<!-- Loop To Display Success Message -->
{% if messages %}
<ul class="messages">
       {% for message in messages %}
             <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
       {% endfor %}
</ul>
{% endif %}

<div class="ListHeader">{{ListHeader}}</div> 


<form method='POST' action=''>{% csrf_token %}
    {{form}}
        <input type="submit" value='Search'/>
</form>
<br>

<table class='table'>
    <thead>
      <tr>
        <th>COUNT</th>
        <th>CATEGORY</th>
        <th>ITEM NAME</th>
        <th>QUANTITY IN STORE</th>
        <th>TIME STAMP</th>
      </tr>
    </thead>
    <!-- Loop To Get Itemname and Quantity In Database -->
  {% for instance in queryset %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{instance.category}}</td>
        <td><a href="{% url 'stock_detail' instance.id %}">{{instance.item_name}}</a></td>
        <td>{{instance.quantity}}</td>
        <td>{{instance.timestamp}}</td>
      </tr>
  {% endfor %}
</table>


<!-- COLLAPSE LIST OF ITEMS HTML PAGE -->
{%endblock%}